a{
	color: gray;
	background-color: transparent;
}
/*Backgrounds*/
.bg{
	background-color: #f2f2f2;
	height: 4.5em;
}
.bw{
	background-color: #ffffff;
	height: 12em;
}
/*buttons*/
button{
	border: none !important;
	background-color: #f2f2f2 !important;
}
.buttonred:hover{
	background-color: #cc0000 !important;
	height: 4.5em;
	color: #ffffff !important;
}
.buttongray:hover{
	background-color: gray !important;
}
.bclient{
	background-image: url(../images/client-bg.jpg);
	height: 18em;
}
/*Imagenes*/
.slide{
	width: 101%;
	height:30em;
	position: center;
}
.arrival{
	width: 100%;
	height: 21em;
}
.client{
	width: 60%;
}
/*paddings margin*/
.pclock{
	padding: 10% 2% 0% 20%;
}
.popening{
	padding: 8% 19% 0% 0%;
}
.psearch{
	padding: 12% 19% 0% 0%;
}
.dclass{
	padding-top: 9%;
}
.prl{
	padding: 0% 11% 0% 11%;
}
.mt{
	margin-top: 10%;
}
.mt2{
	margin-top: 5%;
}
.ml{
	margin-left: 20%;
}
.ml2{
	margin-left: 15%;
}
.mb{
	margin-bottom: 10%;
}
/*font*/
.red{
	color: red;
}
/*MEDIA*/
/*// Hasta smartphones de 480px*/
  @media (max-width: 480px) {

	}
  }
 
  /*// de Smartphones a Tablets*/
  @media (max-width: 768px) { 
   }
 
  /*// de Tablets a pantallas de desktops*/
  @media (min-width: 768px) and (max-width: 980px) {

  }